<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <h2><%= f.text_field :title, :placeholder => "Title", :size=>"51" %></h2>
  </div>
  <div class="field">
    <%= f.text_field :tag_list, :placeholder => "Tags separated by commas", :size=>"100" %>
  </div>
  <div class="field">
    <h4><%= f.label "Upload" %></h4>
    <p><%= f.file_field :picture, :name => "story[picture][]", :size=>"100" %></p>
    <p><%= f.text_field :credits, :name => "story[credits][]", :placeholder => "Credits", :size=>"100" %></p>
    <p><%= f.text_area :description, :name => "story[description][]", :placeholder => "Story", :size=>"100" %></p>
  </div>
  <div class="field">
    <h4><%= f.label "Upload" %></h4>
    <p><%= f.file_field :picture, :name => "story[picture][]", :size=>"100" %></p>
    <p><%= f.text_field :credits, :name => "story[credits][]", :placeholder => "Credits", :size=>"100" %></p>
    <p><%=  f.text_area :description, :name => "story[description][]", :placeholder => "Story", :size=>"100" %></p>
  </div>
  <div class="actions">
    <p><%= f.submit %></p>
  </div>
<% end %>
