<%= form_for(@story, :class => "form-horizontal")  do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="controls">
    <h2><%= f.text_field :title, :placeholder => "Title of the story...", :size=>"50" %></h2>
  </div>
  <div class="controls">
    <%= f.text_field :tag_list, :placeholder => "Tags separated by commas", :size=>"100" %>
  </div>
  <br/>
  <div class="picturesFields">
    <div class="controls story_picture_fields">
      <div class='row'>
        <div class='col-md-2'>
          <div class='new-story-image'>
            <%= f.file_field :picture, :name => "story[picture][]", class: 'image-upload' %>
          </div>
          <p><%= radio_button_tag 'story[isCover]', 0 %> cover photo </p>
        </div>
        <div class='col-md-4'>
          <p><% f.text_field :credits, :name => "story[credits][]", :placeholder => "Credits", :size=>"100" %></p>
          <p>Your story:</p>
          <p><%= f.text_area :description, :name => "story[description][]", :size=>"70", class: 'image-story' %></p>
          <br/>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-1'>
      <a href='#' onclick='addPicture();' id="addPicture">
        <img src='/assets/plus.png' />
      </a>
    </div>
    <div class='col-md-2'>
      <%= f.submit class: "btn submit-story"%> 
    </div>
  </div>

  <div class="controls story_picture_fields hidden addPictureFields">
    <div class='row'>
      <div class='col-md-2'>
        <div class='dropzone dropzone-previews dz-default'>
          <p><%= f.file_field :picture, :name => "story[picture][]", class: 'image-upload' %></p>
        </div>
        <p><%= radio_button_tag 'story[isCover]', 0 %> cover photo </p>
      </div>
      <div class='col-md-4'>
        <p><% f.text_field :credits, :name => "story[credits][]", :placeholder => "Credits", :size=>"100" %></p>
        <p>Your story:</p>
        <p><%= f.text_area :description, :name => "story[description][]", :size=>"70", class: 'image-story' %></p>
        <br/>
      </div>
    </div>
  </div>

  <hr/>

<% end %>
