<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2><%= f.text_field :title, :placeholder => "Title" %></h2>
  </div>
  <div class="field">
    <%= f.label "Upload" %><br>
    <%= f.file_field :picture, multiple: true %>
    <%= f.text_field :credits, :placeholder => "Credits" %>
  </div>
  <div class="field">
    <% # f.text_area :description, :placeholder => "Story" %>
    <%= f.text_field :tag_list, :placeholder => "Tags separated by commas" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
