<p>
  <h1><%= @story.title %></h1>
</p>

<p>
  <%= @story.description %>
</p>

<p>
  <% @story.tags.any? %>
    <% @story.tags.each do |tag| %>
    <%= link_to tag.name, tagged_url(:tag => tag.name) %>
  <% end %>

  <% @story.pictures.any? %>
    <% @story.pictures.each do |picture| %>
    <%= picture.filename %>
  <% end %>

</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
