<br/><br/><br/>
<p >
  <h1 class="text-center"><%= @story.title %></h1>
</p>

<p>
  <%= @story.description %>
</p>


<div class='text-center content'>
  <% @story.pictures.each do |picture| %>
    <%= image_tag(picture.url, with: "500", height: "500") %><br>
    <p><%= picture.description %></p>
    <br/>
  <% end %>
</div>

<div class='content'>
  <% @story.tags.any? %>
    <% @story.tags.each do |tag| %>
    <%= link_to tag.name, tagged_url(:tag => tag.name) %>
  <% end %>
</div>

<br><br>
<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
