<p>
  <h1><%= @story.title %></h1>
</p>

<p>
  <%= image_tag(@story.picture_url, :width => 600) if @story.picture.present? %>
</p>

<p>
  <%= @story.description %>
</p>

<p>
  <% @story.tags.any? %>
    <% @story.tags.each do |tag| %>
    <%= link_to tag.name, tagged_url(:tag => tag.name) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
